
{% extends 'base.html' %}

{% block content %}

<div class="card border-0 mb-5" style="width: 30rem;">
    <img class="card-img-top" src='{{item.image}}'>
    <div class="card-body text-body" style="background-color:#f6f6f6">
      <h5 class="card-title">{{item.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
      <h5 class="card-title">{{item.price}}</h5>
      <!-- <p class="card-text">2679 sold</p> -->
    
    <p><a class='btn btn-success float-left' href='/items/{{ item._id }}/edit'>Edit</a></p>
    <!-- New code to add below -->
    
<!-- Delete button -->
    <p><form method='post' action="/items/{{ item._id }}/delete"></p>
    <button class="btn btn-danger ml-3" type="submit">Delete</button>
    </form></p>
</div>
</div>
    
    </div>

</div>

<div class="container">
    <div class="row">
        {% include 'partials/comment_form.html' %}
    </div>

    <div class="row">
        <!-- Show Comments -->
        <ul style="list-style: none;">


        {% for comment in comments %}
        <li>
            {% include 'partials/comment.html' %}
        </li>
        {% endfor %}
    </ul>

    </div>
</div>

{% endblock %}
